{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block content %}


<!-- cart section -->
<section class="cart-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="cart-table">
          <h3>Your Cart</h3>
          <div class="cart-table-warp">
            <table>
              <thead>
              <tr>
                <th class="product-th">Product</th>
                <th class="quy-th">Quantity</th>
                <th class="size-th">Delete</th>
                <th class="total-th">Price</th>
              </tr>
              </thead>
              <tbody>
              {% for item in cart %}
              {% with product=item.product %}
              <tr>
                <td class="product-col">
                  <img src="{{ product.image.url }}" alt="">
                  <div class="pc-title">
                    <h4>{{ product.name }}</h4>
                    <p>${{ item.price }}</p>
                  </div>
                </td>
                <td>
                  <form action="{% url 'cart:CartAdd' product.id %}" method="post" class="add">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    {% csrf_token %}
                    <input type="submit" value="Change">
                  </form>
                </td>
                <td class="size-col"><a href="{% url 'cart:CartRemove' product.id %}"><h4>Delete</h4></a></td>

                <td class="total-col"><h4>${{ item.total_price }}</h4></td>

              </tr>
              {% endwith %}
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% if cart.coupon %}
          <div class="total-cost">
            <td class="total-col"><h4>${{ cart.get_total_price|floatformat:"2" }}</h4></td>
            <td class="total-col"><h4>- ${{ cart.get_discount|floatformat:"2" }}</h4></td>
          </div>
          {% endif %}

          <div class="total-cost">
            <td class="total-col"><h4>${{ cart.get_total_price_after_discount|floatformat:"2" }}</h4></td>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-right">
        <form action="{% url 'coupons:apply' %}" method="POST" class="promo-code-form">
          <label for="id_code"></label><input type="text" name="code" required="" placeholder="Try 'test'"
                                              id="id_code">
          {% if messages %}
          {% for message in messages %}
          <br>
          <br>
          <div class="size-col" style="text-align: center;">
            <h4>Please, enter a valid coupon</h4>
          </div>
          <br>
          {% endfor %}
          {% endif %}
          <input type="submit" value="Apply" style="background: rgba(0,0,255,0.7);" class="site-btn">
          {% csrf_token %}
        </form>
        {% if cart.coupon %}
        <div class="size-col" style="text-align: center;">
          <h4>Active coupon:</h4>
          <td><h4>
            "{{ cart.coupon.code }}" coupon for
            ${{ cart.coupon.discount }}
          </h4>
          </td>
        </div>
        {% endif %}
        <br>
        <br>
        <a href="{% url 'coupons:remove' %}" class="site-btn sb-dark">Remove coupon</a>
        <a href="{% url 'orders:OrderCreate' %}" style="background: rgba(0,0,255,0.7);" class="site-btn">Proceed to
          checkout</a>
        <a href="{% url 'shop:ProductList'%}" class="site-btn sb-dark">Continue shopping</a>
      </div>

    </div>
  </div>
</section>
<!-- cart section end -->

{% endblock %}
